.about-section {
  padding: 120px 0;
  background-color: var(--light-pink-color);
}

.about-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.about-section .about-details {
  max-width: 50%;
}

.about-section .about-image-wrapper .about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}

.about-section .about-details .section-details {
  padding: 0;
}

.about-section .about-details p {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-m);
}

.about-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.about-section .social-link-list .social-link {
  color: var(--primary-color);
  font-size: var(--font-size-l);
  transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
  color: var(--secondary-color);

}

@media screen and (max-width: 900px) {
  .about-section .section-content {
    flex-direction: column-reverse;
    gap: 70px;
  }

  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
  }

  .about-section .about-details {
    max-width: 100%;
  }
}