.about-section {
  padding: 120px 0;
  background-color: var(--light-pink-color);

}

.about-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section .about-image-wrapper {
  width: 400px;
  height: 400px;object-fit: cover;
}