.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 50px 0 100px;
}

.menu-section .menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 20px;

}

.menu-section .menu-list .menu-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% / 3 - 110px);
  text-align: center;
}

.menu-section .menu-list .menu-item .menu-image {
  max-width: 83%;
  aspect-ratio: 1;
  border-radius: 30%;
}

.menu-section .menu-list .menu-item .name {
  margin: 13px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-item .description {
  font-size: var(--font-size-m);
}

@media screen and (max-width: 1024px) {
  .menu-section .menu-list {
    gap: 60px;
  }

  .menu-section .menu-list .menu-item {
    width: calc(100% / 2 - 50px);
  }
}


@media screen and (min-width: 900px) {
  .menu-section .menu-list .menu-item {
    .menu-section .menu-list {
      gap: 10px;
    }

    .menu-section .menu-list .menu-item {
      width: calc(100% / 2 - 30px);
    }

    .menu-section .menu-list .menu-item .menu-image {
      max-width: 200px;
    }
  }
}