.hero-section {
  min-height: 100vh;
  background-color: var(--primary-color);
}

.hero-section .section-content-hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  justify-content: space-between;
  padding-top: 5rem;
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
}